fastapi
uvicorn
sqlalchemy
pymysql
bcrypt
python-jose[cryptography]
python-multipart
pydantic[email]
email-validator
streamlit
pandas
plotly
groq
numpy
SpeechRecognition
PyAudio
scikit-learn
pandasql
statsmodels
google-auth
google-auth-oauthlib
python-dotenv
streamlit-google-auth
